<h2 class="text-2xl font-bold mb-6">Detail Student</h2>

<form action="#" method="POST"
      class="bg-white p-6 rounded shadow max-w-lg">

  <div class="mb-4">
    <label class="block mb-1">Nama Lengkap</label>
    <input name="fullName" value="<%= student.name %>"
           class="w-full border px-3 py-2 rounded" disabled>
  </div>

  <a href="/student" class="bg-indigo-600 text-white px-4 py-2 rounded">
    Back
  </a>
</form>